/*----------------
    RESET
-----------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*----------------
    COMMON
-----------------*/

.debug{
    border: 1px dashed black;
}

/*----------------
    HEADER
-----------------*/
.header-class{
    display: flex;
    justify-content: center;
    background-color: #FF6900;
}

.gender, .icon{
    width: 10%;
    height: 100px;
}

.logo{
    width: 50%;
    height: 100px;
}

/*----------------
    MAIN
-----------------*/
.raw{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.col{
    width: 450px;
    height: 705px;
    margin-right: 10px;
}

.product-description{
    background-color: lightcoral;
    height: 60px;
    margin-top: 645px;
}

/*----------------
    FOOTER
-----------------*/
.footer-class{
    height: 110px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: lightseagreen;
}

.azienda{
    width: 60%;
    height: 100px;
}

.social-links{
    width: 10%;
    height: 100px;
}